.navigation {
  // // padding-right: 1rem;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // // background-image: linear-gradient(to bottom, $primary-blue, 80% , #fafafa);
  // height: 100vh;
  // box-sizing: border-box;
  // margin: 0;
  // max-width: 450px;
  // position: relative;
  // transform: translateX(-450px);
  position: absolute;

  &.not-authorized {
    position: absolute;
    width: 0;
    overflow: hidden;
  }

  &.signed-in {
    overflow: hidden;
    position: relative;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      text-align: center;
      margin: 1rem auto;
      transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);

      .rob {
        font-size: 1.5rem;
        // letter-spacing: rem;
        line-height: 1rem;

        margin-bottom: .75rem;
        padding-bottom: .75rem;
        border-bottom: 2px solid #fff;
      }

      &:first-child {
        padding: .5rem;
        background-color: $primary-orange;
        box-shadow: 0 0 0 .2rem #fff;
        transform: scale(.8);

        a {
            &:first-child{
              display: flex;
              flex-direction: column;
              letter-spacing: .2rem;
              font-size: .7rem;
              flex-direction: column;
              justify-content: center;

            }
          }
       }

      a {
        color: #fafafa;
        font-family: sans-serif;
        // font-weight: 900;
        letter-spacing: .1rem;
        text-decoration: none;
      }

      &:hover {
        -webkit-backface-visibility: hidden;
        transform: translateX(.7rem) scale(1.1);
      }
    }
  }
}